body{
  color: #333;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#cabecera{
  background: #33a;
  background-size: 40px ;
  color: white;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
}
#cabecera #tagline{
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}
#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
}
#container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: solid 1px #000;
  margin: 0 auto;
}
#container h1{
  font-size: 20px;
}
#post{
  padding: 1em;
}
#footer{
  background: #777;
  color: white;
  text-align: center;
  padding: 0.5em;
}
#fhoto{
  width: 450px;
  display: block;
  margin: auto;
}
